@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* global styles------------------------------------------------------------------------------------------------------------------------ */

.g-base {
    background-image: linear-gradient(pink, rgb(255, 219, 153), lightblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 0%;
    font-size: 1.2rem;
    font-family: parkinsans;
}

a { 
    color: darkblue;
    text-decoration: none;
}

a:hover { 
    color: white;
    text-decoration: none;
}

.g-innercontent {
    background-color: rebeccapurple;
    padding: 50px 15px 50px 15px;
    display: flex;
    column-gap: 20px;
    grid-area: inner;
    grid-template-areas:
    "aside main main";
    background-image: linear-gradient(pink, rebeccapurple);
}

.g-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    background-color: pink;
    padding: 0px 15px 0px 15px;
    grid-area: header;
    column-gap: 40px;

    .hflex1{
        flex-grow: 5;
        background-color: #A7C2CC;
        border-radius: 20px;
        text-align: center;
        padding: 0px 10px 0px 0px;
    }

    .hflex2{
        background-color: rgb(252, 113, 227);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 10%;
        align-content: center;
        text-align: center;
    }

    .hflex3{
        background-color: hotpink;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 10%;
        align-content: center;
        text-align: center;
    }

    .hflex4{
        background-color: plum;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 10%;
        align-content: center;
        text-align: center;
    }
    
}

.g-footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    flex-direction: row;
    align-items: stretch;
    padding: 15px 15px 15px 15px;
    border: 5px solid purple;
    border-radius: 5px;
    color: white;
    background-color: dark;
    grid-area: footer;

    .fflexhead{
        flex-grow: 1;
        border: 5px solid purple;
        border-radius: 5px;
        text-align: center;
        background-color: rgb(255, 226, 192);
        color: black;
    }

    .fflexsocial{
        border: 5px solid purple;
        border-radius: 5px;
        width: 10%;
        text-align: center;
        background-color: rgb(255, 226, 192);
    }



}

/* multi-page styling------------------------------------------------------------------------------------------------------------------------*/
#p-home #s-main,
#p-resume #s-main{
    padding: 15px 15px 15px 15px;
    grid-area: main;
    border: 5px solid purple;
    border-radius: 5px;
    background-color: rgb(255, 226, 192);
}

#p-home,
#p-resume,
#p-samples,
#p-miscsamples {
    background-color: rebeccapurple;
    margin: auto;
    width: 90%;
    display: grid;
    column-gap: 20px;
    grid-template-areas: 
    "header header header"
    "inner inner inner"
    "footer footer footer";
}


/* home styling ------------------------------------------------------------------------------------------------------------------------ */
#p-home #info {
    padding: 10px 10px 10px 10px;
    grid-area: aside;
    font-size: 1.2rem;
    text-align: start;
    border: 5px solid purple;
    border-radius: 5px;
    background-color: rgb(255, 226, 192);

    h2 {
        text-align: center;
    }

    img{
        border: 2px solid purple;
        border-radius: 5px;
        display: block;
        margin: auto;
    }
}
/* resume styling ------------------------------------------------------------------------------------------------------------------------ */
#p-resume .g-innercontent {
    grid-template-areas:
    "main main";
    
    #s-main{
    background-image: url("./images/paper.jpg");
    background-repeat: stretch;
    background-size: 1200px;
    }

}
/* webapp samples styling ------------------------------------------------------------------------------------------------------------------------ */
#p-samples .g-innercontent {
    background-color: rebeccapurple;
    padding: 50px 15px 50px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
    img{
        border: 5px solid purple;
        border-radius: 5px;
        float: left;
        margin-left: 15px;
        margin-right: 10px;
    }

    .img-right{
        border: 5px solid purple;
        border-radius: 5px;
        float: right;
        margin-right: 15px;
    }

    h2 {
        border: 5px solid purple;
        border-radius: 5px;
        width: fit-content;
        padding: 2px 2px 2px 2px;
        margin: auto;
        margin-bottom: 10px;
        background-color: pink;
    }

    aside{
        border: 2px solid purple;
        border-radius: 5px;
        color: white;
        background-color: purple;
        text-align: center;
        margin-top: 5px;
    }

    #s-main {
        padding-bottom: 15px;
    }

    a:hover{
        opacity: 0.9;
    }

    .WebApp-container div{
    padding: 15px 15px 15px 15px;
    grid-area: main;
    border: 5px solid purple;
    border-radius: 5px;
    background-color: rgb(255, 226, 192);
    }
}

/* misc samples styling ------------------------------------------------------------------------------------------------------------------------ */
#p-miscsamples .g-innercontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    background-image: linear-gradient(pink, rebeccapurple);

    .sample-container:not(:first-child){
        width: 1pt;
        flex-grow: 1;
    }

    .sample-container div{
        padding: 15px 15px 15px 15px;
        grid-area: main;
        border: 5px solid purple;
        border-radius: 5px;
        background-color: rgb(255, 226, 192);
        }

    img{
        border: 5px solid purple;
        border-radius: 5px;
        float: left;
        margin-right: 10px;
        flex-shrink: 2;
    }

    h2 {
        border: 5px solid purple;
        border-radius: 5px;
        padding: 2px 2px 2px 2px;
        margin: auto;
        margin-bottom: 10px;
        text-align: center;
        background-color: pink;
    }

    a {
        color: white;
    }
    a:hover{
        opacity: 0.9;
    }

    aside{
        border: 2px solid purple;
        border-radius: 5px;
        color: white;
        background-color: purple;
        text-align: center;
        align-content: center;
        margin-top: 70px;
    }
}



/* media query ------------------------------------------------------------------------------------------------------------------------ */
@media only screen and (max-width: 725px) {
#p-home,
#p-resume,
#p-samples,
#p-miscsamples {
    display: block;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    margin: auto;
}    

.g-header{
    display: block;

    .hflex1{
        margin-bottom: 20px;
        font-size: 2rem;
    }

    .hflex2{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: 10px;
        font-size: 1.5rem;
    }

    .hflex3{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: 10px;
        font-size: 1.5rem;
    }

    .hflex4{
        width: 80%;
        margin: 0 auto;
        border-radius: 10px;
        font-size: 1.5rem;
    }

}

.g-innercontent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 20%;
    column-gap: 20%;
    font-size: 1rem;
    padding-left: 3px;
    padding-right: 3px;
}

#p-home #info,
#p-home #s-main {
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#p-home #info{
    width: 40%;
    margin-bottom: 40px;
}

#p-samples .g-innercontent{
    
    h2 {
        margin-left: auto;
        margin-right: 0;
    }

    .h2-right{
        margin-right: auto;
        margin-left: 0;
    }
}
.WebApp-container{
    display: block;
    padding-left: 3px;
    padding-right: 3px;
}

.g-footer {
    display: block;
    border: none;
    margin: 0 auto;
    
    .fflexhead{
        width: 50%;
        flex-grow: 2;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .fflexsocial{
        width: 30%;
        align-self: center;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}
#p-miscsamples .g-innercontent {
    .sample-container:not(:first-child){
        width: unset;
    }
}
}